alembic==1.3.2
attrs==19.3.0
certifi==2019.11.28
cftime==1.0.4.2
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2.5.1
Flask==1.1.1
GeoAlchemy2==0.6.3
geojson==2.5.0
gunicorn==20.0.4
idna==2.8
inflection==0.3.1
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.2.0
Mako==1.1.0
MarkupSafe==1.1.1
netCDF4==1.5.3
numpy==1.18.1
openapi-spec-validator==0.2.8
pandas==0.25.3
psycopg2==2.8.4
pycurl==7.43.0.4
pyrsistent==0.15.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.3
PyYAML==5.3
requests==2.22.0
s5a==0.4
sentinel5dl==1.0
six==1.14.0
SQLAlchemy==1.3.12
swagger-ui-bundle==0.0.6
urllib3==1.25.7
Werkzeug==0.16.0
