alembic==1.7.5
connexion==2.7.0
Flask==2.0.2
GeoAlchemy2==0.10.2
geopandas==0.10.2
gunicorn==20.1.0
iso3166==2.0.2
pandas==1.3.5
psycopg2==2.9.3
python-dateutil==2.8.2
PyYAML==6.0
s5a==0.4
sentinel5dl==1.1
SQLAlchemy==1.4.29
swagger-ui-bundle==0.0.9
